<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="theme.css">
    <title>vue train file 2</title>
</head>
<body>
    
<div class="container pt-5" id="app">
    <div class="card">
        <h1 :style="{
            color: inputValue.length < 5 ? 'red' : 'darkred'
            <!-- fontSize: inputValue.length < 5 ? '25px' : '35px' -->
        }">
        {{title}}
        </h1>
            <div class="form-control">
                <input 
                    type="text" 
                    :placeholder="myPlaceholder" 
                    v-model="inputValue"
                    @keypress.enter="addNewNote"
                />
            </div>
                <h2 style="color: aquamarine;">inputValue: {{inputValue}}</h2>
            <button class="btn" v-on:click="addNewNote">добавить</button>
            <hr />
        <ul class="list" v-if="notes.length !==0">
            <li class="list-item" v-for="(i, idx) in notes">
                <span :class="[
                    'bold', {'primary':i.length > 5}
                ]"> 
                Элемент номер {{idx}}: {{ toUpperCase(i) }}; 
                </span>
                <button class="btn danger" @click="deleteNote(idx, $event)"> удалить </button>
            </li>
            <hr>
            <li>
                <strong>Элементов в списке: {{notes.length}}</strong> | Умноженное на 100: {{ multilpliedCount() }} | Умноженное на 200: {{ multilpliedCountComputed }}
            </li>
        </ul>
        <div v-if="notes.length == 0"> Список пуст </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>

</body>
</html>